<?xml version="1.0" encoding="UTF-8"?>
<!--<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">-->
<suite name="IceCakes UI Suite" verbose="1">
  <test name="Cucumber Tests">
    <classes>
       <!-- Add the class name CucumberRunnerTests -->
       
       <class name="src.tests.CucumberRunnerTests"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->